[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortoise-orm = {extras = ["aiomysql"], version = "*"}
aiomysql = "*"
redis = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.13"
